header{
	width: 80%;
	height: 33%;
	margin-left: auto; 
	margin-right: auto; 
}

a{
	text-decoration:none;
	color:inherit;
}

.header_table{
	margin-top: 5%;
	margin-bottom: 5%; 
	display: flex;
	justify-content: space-between;
	height: 15%;
	width: 100%;
}

.out_circle{
	margin-top: 0%; 
	margin-left: 25%;
	width: 41px;
	height: 41px;

	background: #1ABE84;
	border-radius: 50%;
}
.in_circle{
	position: absolute;
	margin-top: 10px; 
	margin-left: 10px;

	width: 15px;
	height: 15px;

	background: #FB8F1D;
	border: 3px solid #FFFFFF;
	border-radius: 50%;
}
.logo{
	width: 10%;
	height: 100%;
}
.texts{
	width: 70%;
	display: flex;
	justify-content: space-between;
}
.header_home{
	padding-top: 0.5%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5vw;
	line-height: 19px;
	color: #202336;
	width: 5%;
}
.header_destination{
	padding-top: 0.5%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 1.5vw;
	line-height: 19px;
	color: #B8BECD;
	width: 8%;
}
.header_about{
	padding-top: 0.5%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 1.5vw;
	line-height: 19px;
	color: #B8BECD;
	width: 5%;
}
.header_partner{
	padding-top: 0.5%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 1.5vw;
	line-height: 19px;
	color: #B8BECD;
	width: 6%;
}
.header_login{
	width: 15%;
}
.header_login button{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5vw;
	align-items: center;
	color: #FB8F1D;
	box-sizing: border-box;
	width: 100%;
	height: 85%;
	background-color: #FFFFFF;
	border: 1px solid #FB8F1D;
	border-radius: 8px;
}
.header_login button:hover{
	background-color: #edebeb;
}
.header_register button:hover{
	background-color: #d47917;
}
.header_register{
	width: 15%;
}
.header_register button{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5vw;
	align-items: center;
	color: #FFFFFF;
	width: 100%;
	height: 85%;
	background: #FB8F1D;
	border-radius: 8px;
	border-color: #FB8F1D; 
}
.header_main_info{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 85%;
}
.info_header{
	width: 100%;
	height: 100%;
	margin: auto;
}
.image_header img{
	width: 100%;
	height: 100%;
}

.info_header .big_text{
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-size: 5vw;
	color: #202336;
	mix-blend-mode: normal;
	margin-left: 10%;
	margin-bottom: 10%; 
}

.info_header .smaller_text{
	width: 60%;
	height: 27px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1.5vw;
	line-height: 27px;
	color: #202336;
	margin-left: 10%;
	margin-bottom: 2%;
}

.info_header .small_rect{
	width: 8%;
	height: 0.1vw;
	background: #202336;
	border-radius: 4px;
	margin-left: 10%;
	margin-bottom: 3%;
}

.info_header .select{
	margin-left: 10%;
	width: 80%;
	height: 40%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

select{
	border-radius: 0.1vw;
	width: 40%;
	height: 20%;
	box-sizing: border-box;
	border: 0.1vw solid #AFB0B9;
	border-radius: 6px;
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 1.5vw;
	font-family: 'Inter';
	font-style: normal;
}
.header_explore{
	font-size: 1vw;
	align-items: center;
	color: #FFFFFF;
	mix-blend-mode: normal;
	background: #FB8F1D;
	border-radius: 8px;
	border-color: #FB8F1D; 
	margin-left: 10%;
	width: 30%;
	font-size: 1.5vw;
	font-family: 'Mulish';
	align-items: center;
	color: #FFFFFF;
	mix-blend-mode: normal;
}
.header_explore:hover{
	background-color: #d47917;
}




@media screen and (max-width: 900px){
	.header{
		height: 15%;
	}
	.header_home{
		padding-left: 1%; 
		width: 20%;
		font-size: 5vw;
	}
	.header_destination{
		padding-left: 1%; 
		width: 20%;
		font-size: 5vw;
	}
	.header_about{
		padding-left: 1%; 
		width: 20%;
		font-size: 5vw;
	}
	.header_partner{
		padding-left: 1%; 
		width: 20%;
		font-size: 5vw;
	}
	.header_login{
		padding-left: 1%; 
	}
	.header_register{
		padding-left: 1%; 
	}
	.header_login button{
		font-size: 5vw;
	}
	.header_register button{
		font-size: 5vw;
	}
	.texts{
		z-index: 1;
		text-align: center;
		opacity: 1;
		background-color: rgba(244,244,244,50); 
		padding-top: 10%; 
		position: fixed;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 180%;
		height: 30%;
		top: -900px;
		transition: top 1s;
	}
	.header_table{
		justify-content: space-around;

	}
	.texts:hover, .logo:hover +.texts, .logo:active + .texts{
		z-index: 1;
		top: 0;
	}
	.info_header{
		width: 80%;
		opacity: 0.9;
		position: absolute;
		align-items: center;
		text-align: center;
	}
	.info_header .smaller_text{
		margin: 0 0;
		font-size: 4vw;
		width: auto;
	}
	.info_header .big_text{
		margin: 0 0;
		margin-top: 10%; 
		width: auto;
	}
	.info_header .header_explore{
		margin: 0 0;
	}
	.info_header .small_rect{
		margin-left: 46%; 
		margin-top: 2%; 
	}
	.header_explore{
		font-size: 4vw;
	}
	select{
		height: 4vh;
		font-size: 2vw;
	}

}
@media screen and (max-width: 900px){	
	header{
		height: 25%;
	}
}
@media screen and (max-width: 600px){
	header{
		height: 17%;
	}
}
@media screen and (max-width: 400px){
	header{
		height: 10%;
	}
}
