footer{
	background: #F8F8F8;
	width: 100%;
	height: 7%;
}

.footer .logo{
	width: 10%;
}
.footer .info{
	text-align: right;
	width: 60%;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 300;
	font-size: 2vw;
	color: #848484;
	mix-blend-mode: normal;
}
.footer{
	width: 80%;
	height: 100%;
	margin: auto;
	padding-top: 6%; 
}
.footer .up{
	display: flex;
	justify-content: space-between;	
	flex-direction: row;
}
.footer table{
	width: 100%;
}
.footer .br{
	margin-top: 3%; 
	height: 0.5%;
	background: #C4C4C4;
}
.footer .social_media{
	display: flex;
	justify-content: space-around;
	margin-top: 3%;
}

@media screen and (max-width: 900px){
	
}