@import url("style_header.css");
@import url("style_second.css");
@import url("style_third.css");
@import url("style_footer.css");

.container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

body{
	margin: auto;
	width: 100%;
	height: 300vh;
}
@media screen and (max-width: 1025px){
	body{
		height: 260vh;
	}
	header{
		height: 27%;
	}
	.third{
		height: 30%;
	}
}

@media screen and (max-width: 800px){
	body{
		width: 165%;
	}
}
@media screen and (max-width: 321px){
	body{
		width: 165%;
		height: 300vh;
	}
}
@media screen and (max-width: 500px) and (min-width: 400px) {
	body{
		height: 300vh;
	}
	.third{
		height: 50%;
	}
}
@media screen and (max-width: 325px){
	body{
		height: 260vh;
	}
	.third{
		height: 40%;
	}
}
