.arrow{
	width: 4px;
	height: 9px;
	border: 2px solid #FB8F1D;
}

.third{
	height: 28%;
	width: 80%;
	margin: 0 auto;
}
.third .header .info{
	margin-top: 12%; 
	width: 100%;
	margin-bottom:4%; 
}
.third .header .info .text{
	width: 80%;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	color: #000000;
	mix-blend-mode: normal;
}

.third .header .info .view{
	width: 20%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 60px;
	align-items: center;
	color: #FB8F1D;
	mix-blend-mode: normal;
}

.third .images .text1{
	margin-top: 5%; 
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1em;
	align-items: center;
	color: #042521;
	mix-blend-mode: normal;
}

.third .images .text2{
	margin-top: 2%; 
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1em;
	align-items: center;
	color: #80918E;
	mix-blend-mode: normal;
}
.third .images table{
	width: 100%;
}
.third .images img{
	background: #C4C4C4;
	border-radius: 8px;
}
.third .images .td_empty{
  	width: 2%;
}
.images_container{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.images_container div{
		width: 23%;
}
.images_container div .white_background{
	position: absolute;
	margin-top: 20%; 
	width: 8%;
	height: 10%;
	background-color: white; 
	border-radius: 5%;
}

@media screen and (max-width: 800px){
	.third{
		height: 45%;
	}
	.images_container{
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.images_container div{
		margin-top: 5%;
		width: 35%;
	}
	.images_container div .white_background{
		position: absolute;
		margin-top: 51%; 
		width: 15%;
		height: 8%;
		background-color: white; 
		border-radius: 5%;
	}
}
@media screen and (max-width: 600px){
	.third{
		height: 35%;
	}
	.images_container div .white_background{
		height: 5%;
	}

}